SMTP_GMAIL=smtps://user%40gmail.com:pass@smtp.gmail.com
EMAIL=destination_user@example.com
DIAPER_URL=https://carousell.com/search/products?query=huggies%20ultra%20diaper%20xl&price_start=5&price_end=60&condition=new&sort=recent
MOTORBIKE_URL=https://carousell.com/search/products?query=honda%20750&collection_id=108&price_start=8000&price_end=30000&sort=recent
